@charset "utf-8";


ul.dt-sc-fancy-list { list-style-type:none; list-style-position:outside; }
ul.dt-sc-fancy-list li { display:block; position:relative; padding-left:20px; }
ul.dt-sc-fancy-list li ul { padding-left:0px; }
ul.dt-sc-fancy-list li:before { font-family:FontAwesome; font-style:normal; color:#868686; font-weight:normal; text-decoration:inherit; font-size:14px; position:absolute; top:1px; left:0px; }


ul.dt-sc-fancy-list.arrow li:before { content:"\f105";  }


ul.dt-sc-fancy-list.black li:before { color:#262626; }
ul.dt-sc-fancy-list.blue li:before { color:#478bca; }
ul.dt-sc-fancy-list.blueiris li:before { color:#595ca1; }
ul.dt-sc-fancy-list.blueturquoise li:before { color:#08bbb7;}
ul.dt-sc-fancy-list.brown li:before { color:#8f5a28; }
ul.dt-sc-fancy-list.burntsienna li:before { color:#d36b5e; }
ul.dt-sc-fancy-list.chillipepper li:before { color:#b31f41; }
ul.dt-sc-fancy-list.eggplant li:before { color:#614051; }
ul.dt-sc-fancy-list.electricblue li:before { color:#536878; }
ul.dt-sc-fancy-list.graasgreen li:before { color:#81c77f; }
ul.dt-sc-fancy-list.gray li:before { color:#7d888e; }
ul.dt-sc-fancy-list.green li:before { color:#00a988; }
ul.dt-sc-fancy-list.orange li:before { color:#f67f45 }
ul.dt-sc-fancy-list.palebrown li:before { color:#987654;}
ul.dt-sc-fancy-list.pink li:before { color:#e472ae; }
ul.dt-sc-fancy-list.radiantorchid li:before { color:#af71b0; }
ul.dt-sc-fancy-list.red li:before { color: #d71a21; }
ul.dt-sc-fancy-list.skyblue li:before { color:#0facce; }
ul.dt-sc-fancy-list.yellow li:before { color:#eec005; }
ul.dt-sc-fancy-list.violet li:before { color:#9b59b6; }
ul.dt-sc-fancy-list.emerald li:before { color:#1abc9c; }
ul.dt-sc-fancy-list.wetasphalt li:before { color:#34495e; }


.border-full-thin{
  border: 1px solid #017dc7;
  padding: 10px;
}

.small-gap{
  height:10px;
  width:100%;
}

.hidden{
  display: none;
}

.mb-0{
  margin-bottom: 0px  !important;
}

.breadcrumb>.active{
  color:#017dc7 !important;
}

.sidebar-collapse>.head , .sidebar-collapse .well{
  background-color:white;
}


.btn-clientarea {
	border: none;
	color: #fff;
	display: inline-block;
	border-radius: 4px;
	height: 40px;
	position: relative;
	overflow: hidden;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	padding: 0px;
	text-align:left;
	padding-right:55px;
	padding-left: 20px;
	line-height: 40px;
	background: #d71a21 !important;
	letter-spacing: 0.5px;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}

.btn-clientarea i {
	color: #fff;
	background: #bb0e15;
	height: 41px;
	padding: 0 15px;
	float: right;
	position:absolute;
	top:0px;
	right:0px;
	line-height: 41px;
	margin-left: 20px;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}

.btn-clientarea:hover {
	/* bac kground: #333333; */
	color: #fff;
}

.btn-clientarea:hover i {
	color: #333333;
}

.btn-clientarea:hover i {
	color: #fff;
	background: #333333;
}

/* =========================== */


.btn-openacc {
	border: none;
	color: #fff;
	display: inline-block;
	border-radius: 4px;
	height: 40px;
	position: relative;
	overflow: hidden;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	padding: 0px;
	text-align:left;
	padding-right:55px;
	padding-left: 20px;
	line-height: 40px;
	background: #017dc7;
	letter-spacing: 0.5px;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}

.btn-openacc i {
	color: #fff;
	background: #04598c;
	height: 41px;
	padding: 0 15px;
	float: right;
	position:absolute;
	top:0px;
	right:0px;
	line-height: 41px;
	margin-left: 20px;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}

.btn-openacc:hover {
	/* bac kground: #333333; */
	color: #fff;
}

.btn-openacc:hover i {
	color: #333333;
}

.btn-openacc:hover i {
	color: #fff;
	background: #333333;
}

.footerMenu a, .footerMenu span {
    display: block;
    color: #999999;
    margin-top: 5px;
    margin-bottom: 5px;
}

.home-slide-1-mobile{
  height: 70%;
  width: 324px;
  margin-right: auto;
  margin-left: auto;
  background: url("/web/images/webpage/home-slide/easy_trading_front_mobile-v2.png") no-repeat !important;
      background-position-x: 0%;
      background-position-y: 0%;
      background-size: auto;
  background-size: cover !important;
  background-position-y: center !important;
  background-position-x: center !important;
  margin-top: 37px;
  margin-bottom: auto;
}

.home-slide-1{
    height: 100%;
    width: 1164px;
    margin-right: auto;
    margin-left: auto;
    background: url("/web/images/webpage/home-slide/easy_trading_front-v2.png") no-repeat !important;
    background-size: auto;
    background-size: cover !important;
    background-position-y: bottom;
    background-position-x: center;
}

.home-slide-2{
    height: 100%;
    width: 864px;
    margin-right: auto;
    margin-left: auto;
    background: url("/web/images/webpage/home-slide/low-comm-front-new.png") no-repeat !important;
    background-size: auto;
    background-size: cover !important;
    background-position-y: bottom;
    background-position-x: center;
}

.home-slide-2-mobile{
  height: 70%;
  width: 324px;
  margin-right: auto;
  margin-left: auto;
  background: url("/web/images/webpage/home-slide/low-comm-front-new.png") no-repeat !important;
      background-position-x: 0%;
      background-position-y: 0%;
      background-size: auto;
  background-size: cover !important;
  background-position-y: center !important;
  background-position-x: center !important;
  margin-top: 37px;
  margin-bottom: auto;
}


.home-slide-3{
    height: 100%;
    width: 1284px;
    margin-right: auto;
    margin-left: auto;
    background: url("/web/images/webpage/home-slide/lowspread-front-v2.png") no-repeat !important;
    background-size: auto;
    background-size: cover !important;
    background-position-y: bottom;
    background-position-x: center;
}

.home-slide-3-mobile{
  height: 100%;
  min-width: 323px;
  margin-right: auto;
  margin-left: auto;
  background: url("/web/images/webpage/home-slide/lowspread-front-mobile.png") no-repeat !important;
      background-position-x: 0%;
      background-position-y: 0%;
      background-size: auto;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  background-size: cover !important;
  background-position-y: center !important;
  background-position-x: center !important;
  margin-top: 0px;
  margin-bottom: auto;
  max-width: 378px;
}

.home-slide-5-mobile{
  height: 79% !important;
  margin-top:37px;
}

.small-gap{
  height: 20px;
}


.bg-secondary {
  background-color: #6c757d!important;
  color:#fff;
}

.tbl-header{
  background-color: #017dc7  !important;
  color:#fff;
}