@charset "utf-8";
/* CSS Document */

	/*----*****---- << Lists >> ----*****----*/

	ol, ol li { list-style:inherit; }

	ul.dt-sc-fancy-list { list-style-type:none; list-style-position:outside; }
	ul.dt-sc-fancy-list li { display:block; position:relative; padding-left:20px; }
	ul.dt-sc-fancy-list li ul { padding-left:0px; }

	ul.dt-sc-fancy-list li:before { font-family:FontAwesome; font-style:normal; color:#868686; font-weight:normal; text-decoration:inherit; font-size:14px; position:absolute; top:1px; left:0px; }

	ul.dt-sc-fancy-list.arrow li:before { content:"\f105";  }
	ul.dt-sc-fancy-list.rounded-arrow li:before { content:"\f0a9";  }
	ul.dt-sc-fancy-list.double-arrow li:before { content:"\f101";  }
	ul.dt-sc-fancy-list.heart li:before { content:"\f004"; font-size:12px; }
	ul.dt-sc-fancy-list.trash li:before { content:"\f014";  }
	ul.dt-sc-fancy-list.star li:before { content:"\f005";  }
	ul.dt-sc-fancy-list.tick li:before { content:"\f00c";  }
	ul.dt-sc-fancy-list.rounded-tick li:before { content:"\f058";  }
	ul.dt-sc-fancy-list.cross li:before { content:"\f00d";  }
	ul.dt-sc-fancy-list.rounded-cross li:before { content:"\f057";  }
	ul.dt-sc-fancy-list.rounded-question li:before { content:"\f059";  }
	ul.dt-sc-fancy-list.rounded-info li:before { content:"\f05a";  }
	ul.dt-sc-fancy-list.delete li:before { content:"\f05e";  }
	ul.dt-sc-fancy-list.warning li:before { content:"\f071";  }
	ul.dt-sc-fancy-list.comment li:before { content:"\f075";  }
	ul.dt-sc-fancy-list.edit li:before { content:"\f044";  }
	ul.dt-sc-fancy-list.share li:before { content:"\f064";  }
	ul.dt-sc-fancy-list.plus li:before { content:"\f067";  }
	ul.dt-sc-fancy-list.rounded-plus li:before { content:"\f055";  }
	ul.dt-sc-fancy-list.minus li:before { content:"\f068";  }
	ul.dt-sc-fancy-list.rounded-minus li:before { content:"\f056";  }
	ul.dt-sc-fancy-list.asterisk li:before { content:"\f069";  }
	ul.dt-sc-fancy-list.cart li:before { content:"\f07a";  }
	ul.dt-sc-fancy-list.folder li:before { content:"\f07b";  }
	ul.dt-sc-fancy-list.folder-open li:before { content:"\f07c";  }
	ul.dt-sc-fancy-list.desktop li:before { content:"\f108";  }
	ul.dt-sc-fancy-list.tablet li:before { content:"\f10a";  }
	ul.dt-sc-fancy-list.mobile li:before { content:"\f10b";  }
	ul.dt-sc-fancy-list.reply li:before { content:"\f112";  }
	ul.dt-sc-fancy-list.quote li:before { content:"\f10d";  }
	ul.dt-sc-fancy-list.mail li:before { content:"\f0e0";  }
	ul.dt-sc-fancy-list.external-link li:before { content:"\f08e";  }
	ul.dt-sc-fancy-list.adjust li:before { content:"\f042";  }
	ul.dt-sc-fancy-list.pencil li:before { content:"\f040";  }
	ul.dt-sc-fancy-list.print li:before { content:"\f02f";  }
	ul.dt-sc-fancy-list.tag li:before { content:"\f02b";  }
	ul.dt-sc-fancy-list.thumbs-up li:before { content:"\f088";  }
	ul.dt-sc-fancy-list.thumbs-down li:before { content:"\f087";  }
	ul.dt-sc-fancy-list.time li:before { content:"\f017";  }
	ul.dt-sc-fancy-list.globe li:before { content:"\f0ac";  }
	ul.dt-sc-fancy-list.pushpin li:before { content:"\f08d";  }
	ul.dt-sc-fancy-list.map-marker li:before { content:"\f041";  }
	ul.dt-sc-fancy-list.link li:before { content:"\f0c1";  }
	ul.dt-sc-fancy-list.paper-clip li:before { content:"\f0c6";  }
	ul.dt-sc-fancy-list.download li:before { content:"\f019";  }
	ul.dt-sc-fancy-list.key li:before { content:"\f084";  }
	ul.dt-sc-fancy-list.search li:before { content:"\f002";  }
	ul.dt-sc-fancy-list.rss li:before { content:"\f09e";  }
	ul.dt-sc-fancy-list.twitter li:before { content:"\f099";  }
	ul.dt-sc-fancy-list.facebook li:before { content:"\f09a";  }
	ul.dt-sc-fancy-list.linkedin li:before { content:"\f0e1";  }
	ul.dt-sc-fancy-list.google-plus li:before { content:"\f0d5";  }

	ul.dt-sc-fancy-list.check li:before { content:"\f046";  }
	ul.dt-sc-fancy-list.hand li:before { content:"\f0a4";  }
	ul.dt-sc-fancy-list.cog li:before { content:"\f013";  }
	ul.dt-sc-fancy-list.play li:before { content:"\f01d";  }

	ul.dt-sc-fancy-list.avocado li:before { color:#72723e; }


	ul.dt-sc-fancy-list.black li:before { color:#262626; }
	ul.dt-sc-fancy-list.blue li:before { color:#478bca; }
	ul.dt-sc-fancy-list.blueiris li:before { color:#595ca1; }
	ul.dt-sc-fancy-list.blueturquoise li:before { color:#08bbb7;}
	ul.dt-sc-fancy-list.brown li:before { color:#8f5a28; }
	ul.dt-sc-fancy-list.burntsienna li:before { color:#d36b5e; }
	ul.dt-sc-fancy-list.chillipepper li:before { color:#b31f41; }
	ul.dt-sc-fancy-list.eggplant li:before { color:#614051; }
	ul.dt-sc-fancy-list.electricblue li:before { color:#536878; }
	ul.dt-sc-fancy-list.graasgreen li:before { color:#81c77f; }
	ul.dt-sc-fancy-list.gray li:before { color:#7d888e; }
	ul.dt-sc-fancy-list.green li:before { color:#00a988; }
	ul.dt-sc-fancy-list.orange li:before { color:#f67f45 }
	ul.dt-sc-fancy-list.palebrown li:before { color:#987654;}
	ul.dt-sc-fancy-list.pink li:before { color:#e472ae; }
	ul.dt-sc-fancy-list.radiantorchid li:before { color:#af71b0; }
	ul.dt-sc-fancy-list.red li:before { color:#ef3a43; }
	ul.dt-sc-fancy-list.skyblue li:before { color:#0facce; }
	ul.dt-sc-fancy-list.yellow li:before { color:#eec005; }
	ul.dt-sc-fancy-list.violet li:before { color:#9b59b6; }
	ul.dt-sc-fancy-list.emerald li:before { color:#1abc9c; }
	ul.dt-sc-fancy-list.wetasphalt li:before { color:#34495e; }

	ol.dt-sc-fancy-list li span { color:#1c1c1c; }

	ol.decimal { list-style-type:decimal; }
	ol.decimal-leading-zero { list-style-type:decimal-leading-zero; }
	ol.lower-alpha { list-style-type:lower-alpha; }
	ol.lower-roman { list-style-type:lower-roman; }
	ol.upper-alpha { list-style-type:upper-alpha; }
	ol.upper-roman { list-style-type:upper-roman; }

	ol.dt-sc-fancy-list.avocado li { color:#72723e; }
	ol.dt-sc-fancy-list.black li { color:#262626; }
	ol.dt-sc-fancy-list.blue li { color:#478bca; }
	ol.dt-sc-fancy-list.blueiris li { color:#595ca1; }
	ol.dt-sc-fancy-list.blueturquoise li { color:#08bbb7;}
	ol.dt-sc-fancy-list.brown li { color:#8f5a28; }
	ol.dt-sc-fancy-list.burntsienna li { color:#d36b5e; }
	ol.dt-sc-fancy-list.chillipepper li { color:#b31f41; }
	ol.dt-sc-fancy-list.eggplant li { color:#614051; }
	ol.dt-sc-fancy-list.electricblue li { color:#536878; }
	ol.dt-sc-fancy-list.graasgreen li { color:#81c77f; }
	ol.dt-sc-fancy-list.gray li { color:#7d888e; }
	ol.dt-sc-fancy-list.green li { color:#00a988; }
	ol.dt-sc-fancy-list.orange li { color:#f67f45 }
	ol.dt-sc-fancy-list.palebrown li { color:#987654;}
	ol.dt-sc-fancy-list.pink li { color:#e472ae; }
	ol.dt-sc-fancy-list.radiantorchid li { color:#af71b0; }
	ol.dt-sc-fancy-list.red li { color:#ef3a43; }
	ol.dt-sc-fancy-list.skyblue li { color:#0facce; }
	ol.dt-sc-fancy-list.yellow li { color:#eec005; }
	ol.dt-sc-fancy-list.violet li { color:#9b59b6; }
	ol.dt-sc-fancy-list.emerald li { color:#1abc9c; }
	ol.dt-sc-fancy-list.wetasphalt li { color:#34495e; }

	.dt-sc-dropcap.dt-sc-dropcap-bordered-circle { width:38px; height:38px; line-height:36px; margin:5px 5px 0 0; padding:5px 10px; text-align:center; border-radius:30px 30px 30px 30px; behavior:url(PIE.htc); color:#181818; }

	/*----*****---- << Columns >> ----*****----*/

	.column { margin:0px 2% 0px 0px; float:left; min-height:1px; position:relative; }
	.column.last { margin-right:0px; }

	.dt-sc-one-column { width:100%; }
	.column.dt-sc-one-column { margin-right:0px; }

	.dt-sc-one-fourth { width:23.4%; }
	.dt-sc-one-half { width:48.9%; }
	.dt-sc-one-third { width:31.99%; }
	.dt-sc-three-fourth { width:74.5%; }
	.dt-sc-two-third { width:65.8%; }

	.dt-sc-one-fifth { width:18.3%; }
	.dt-sc-four-fifth { width:79.6%; }
	.dt-sc-three-fifth { width:59.2%; }
	.dt-sc-two-fifth { width:38.8%; }

	.dt-sc-one-sixth { width:15%; }
	.dt-sc-two-sixth { width:30%; }
	.dt-sc-three-sixth { width:45%; }
	.dt-sc-four-sixth { width:60%; }
	.dt-sc-five-sixth { width:83%; }

	.column img { max-width:100%; height:auto; }

	.dt-sc-one-half iframe, .dt-sc-one-third iframe, .dt-sc-one-fourth iframe, .dt-sc-three-fourth iframe, .dt-sc-two-third iframe, iframe { max-width:100%; }
	embed, iframe, object, video { max-width:100%; }

	.column.no-space { margin-right:0px; }
	.column.no-space.dt-sc-one-fourth { width:25%; }
	.column.no-space.dt-sc-one-third { width:33.33%; }
	.column.no-space.dt-sc-one-half { width:50%; }
	.column.no-space.dt-sc-one-fifth { width:19.8%; }
	.column.no-space.dt-sc-one-sixth { width:16.5%; }

	.column.no-space.dt-sc-three-fourth { width:74.9%; }
	.column.no-space.dt-sc-two-third { width:66.5%; }
	.column.no-space.dt-sc-four-fifth { width:79.9%; }
	.column.no-space.dt-sc-three-fifth { width:60%; }
	.column.no-space.dt-sc-two-fifth { width:40%; }
	.column.no-space.dt-sc-two-sixth { width:33.4%; }
	.column.no-space.dt-sc-three-sixth { width:50%; }
	.column.no-space.dt-sc-four-sixth { width:66.6%; }
	.column.no-space.dt-sc-five-sixth { width:83.2%; }

	/*----*****---- << Buttons >> ----*****----*/

	.dt-sc-button, .social-media li a, .tagcloud a { border: none; background: none; cursor: pointer; line-height:normal; display: inline-block; outline: none; position: relative; -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s; transition: all 0.3s; overflow: hidden; z-index:1; border:1px solid; }

	.dt-sc-button { margin:10px 0px 0px; text-transform: uppercase; padding:5px 30px; line-height:60px; border-radius:3px; border:none; font-weight:bold; text-align:center; overflow:visible;  }


	.dt-sc-button:hover, .tagcloud a:hover { color: #fff; }
	.dt-sc-button:active:after { height: 400%; opacity: 1; }
	.social-media li a:hover:after { height: 150%; opacity: 1; width:62px; }
	.tagcloud a:hover:after { height: 320%; opacity: 1; min-width:77px; }

	.dt-sc-button.white:hover, .dt-sc-button.white:active { color:#808080; }

	.dt-sc-button.small { width:auto; padding: 2px 20px 0px; font-weight:normal; }
	.dt-sc-button.medium { font-size:16px; padding: 2px 20px 0px; }
	.dt-sc-button.large { padding:8px 45px 6px; font-size:16px; }
	.dt-sc-button.xlarge { padding:12px 50px 10px; font-size:18px;  }

	.dt-sc-button.transparent { background: none; }
	.dt-sc-button.transparent.dotted { border-style:dotted; }
	.dt-sc-button.transparent.dashed { border-style:dashed; }

	.dt-sc-button.with-icon i { position:absolute; opacity: 0; line-height:inherit; color:#fff;  top:0; bottom:0; vertical-align:middle; }
	.dt-sc-button.with-icon:hover i { opacity: 1; }

	.dt-sc-button.small.with-icon i { left: 15px; }
	.dt-sc-button.small.with-icon:hover { padding-right: 15px; padding-left: 45px; }

	.dt-sc-button.medium.with-icon i { left:15px; }
	.dt-sc-button.medium.with-icon:hover { padding-right: 20px; padding-left: 50px; }

	.dt-sc-button.large.with-icon i { left: 30px; line-height: 74px; }
	.dt-sc-button.large.with-icon:hover { padding-right: 40px; padding-left:60px; }

	.dt-sc-button.xlarge.with-icon i { left: 30px; line-height: 80px; }
	.dt-sc-button.xlarge.with-icon:hover { padding-right: 40px; padding-left: 70px; }

	.intro-text a.dt-sc-button.grey , .intro-text a.dt-sc-button:hover , .dt-sc-button:hover { background:#323232;}

	input.dt-sc-button, input[type="submit"], input[type="button"] { overflow: visible; width:auto !important; }

	/*----*****---- << Pricing Table >> ----*****----*/

	.dt-sc-pricing-table { width:100%; padding:0px; float:left; }
	.dt-sc-pr-tb-col  { position:relative; background:#fff; width:100%; margin-top: 20px; text-align:center; -webkit-box-shadow: 0px 0px 5px 0px rgba(46,46,46,0.6); -moz-box-shadow: 0px 0px 5px 0px rgba(46,46,46,0.6);
	box-shadow: 0px 0px 5px 0px rgba(46,46,46,0.6); }

	.dt-sc-tb-header .dt-sc-tb-price h2 { overflow: hidden; color:#fff; font-size: 30px; }
	.dt-sc-tb-header .dt-sc-tb-price h2 span { position: relative; display: inline-block; -webkit-transition: -webkit-transform 0.3s; -moz-transition: -moz-transform 0.3s; transition: transform 0.3s; color:#fff; }
	.dt-sc-tb-header .dt-sc-tb-price h2 span::before { position: absolute; top: 100%; content: attr(data-hover);	-webkit-transform: translate3d(0,0,0);	-moz-transform: translate3d(0,0,0);	transform: translate3d(0,0,0); }
	.dt-sc-pr-tb-col:hover .dt-sc-tb-header .dt-sc-tb-price h2 span, .dt-sc-tb-header .dt-sc-tb-price h2:focus span { -webkit-transform: translateY(-100%); -moz-transform: translateY(-100%);	transform: translateY(-100%); }

	.dt-sc-pr-tb-col:after { display: block;content: "";height: 0;width: 0;border-image: none;position: absolute;right: 0px; left:0; top: 100%; border-top: 35px solid #fff; }

	.dt-sc-one-half .dt-sc-pr-tb-col:after { border-left: 287px solid transparent; border-right: 287px solid transparent; }
	.dt-sc-one-third .dt-sc-pr-tb-col:after { border-left: 187px solid transparent;border-right: 187px solid transparent; }
	.dt-sc-one-fourth .dt-sc-pr-tb-col:after { border-left: 137px solid transparent; border-right: 137px solid transparent; }
	.dt-sc-one-fifth .dt-sc-pr-tb-col:after { border-left: 107px solid transparent; border-right: 107px solid transparent; }
	.dt-sc-one-sixth .dt-sc-pr-tb-col:after { border-left: 87px solid transparent; border-right: 87px solid transparent; }

	.dt-sc-tb-title h5 { font-weight:normal; font-size: 34px; color:#323232; line-height:40px; text-transform:capitalize; padding: 26px 0 15px; text-align: center; }

	.dt-sc-pr-tb-col.selected p , .dt-sc-pr-tb-col:hover p { color:#fff; }

	.dt-sc-tb-header { width:100%; text-align:center; float:left; overflow:hidden; padding-bottom: 65px; }

	.dt-sc-tb-price { width: 30%; float: left; position:relative; z-index: 2; padding: 5% 5% 0; }
	.dt-sc-tb-price:after { position: absolute; content: ""; display: block; position: absolute; left: -15%; top: -130%; width: 210%; height: 180%; transform: rotate(-45deg); -webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); z-index: -1; }

	.dt-sc-one-half .dt-sc-tb-price:after { left: -10%; top: -212%; width: 220%; height: 200%; }
	.dt-sc-one-fourth .dt-sc-tb-price { width: 40%; }

	.dt-sc-pr-tb-col.selected .dt-sc-tb-price  , .dt-sc-pr-tb-col:hover .dt-sc-tb-price{ background: none; }
	.dt-sc-pr-tb-col.selected .dt-sc-tb-header .dt-sc-tb-price span.value, .dt-sc-pr-tb-col:hover 	.dt-sc-tb-header .dt-sc-tb-price span.value { color:#878787; }
	.dt-sc-pr-tb-col.selected .dt-sc-tb-price:after  , .dt-sc-pr-tb-col:hover .dt-sc-tb-price:after { background: #fff; }

	.dt-sc-pr-tb-col .dt-sc-buy-now { padding-bottom: 20px; }
	.dt-sc-pr-tb-col .dt-sc-buy-now a.dt-sc-button { border: 1px solid #fff; padding: 0% 10%; text-transform:capitalize;  }
	.dt-sc-pr-tb-col .dt-sc-buy-now a.dt-sc-button:hover { background: #e9e9e9; }

	.dt-sc-tb-title { width: 50%; float: left; padding: 5% 5% 0; position:relative; z-index: 1; }
	.dt-sc-tb-title:after { position: absolute; content: ""; display: block; position: absolute; right: -15%; top: -35%; width: 130%; height: 150%; transform: rotate(13deg); -webkit-transform: rotate(13deg);
	-o-transform: rotate(13deg); -moz-transform: rotate(13deg); -ms-transform: rotate(13deg); z-index: -1; }

	.dt-sc-one-fifth .dt-sc-tb-title , .dt-sc-one-fifth .dt-sc-tb-price , .dt-sc-one-sixth .dt-sc-tb-title , .dt-sc-one-sixth .dt-sc-tb-price { width: 100%; padding: 1% 0; }
	.dt-sc-one-fifth .dt-sc-tb-price:after,  .dt-sc-one-fifth .dt-sc-tb-title:after , .dt-sc-one-sixth .dt-sc-tb-price:after, .dt-sc-one-sixth .dt-sc-tb-title:after{ transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); left: 0; top: 0;width: 100%; height: 100%; }

	.dt-sc-one-half .dt-sc-tb-title:after { top: -40%; }

	.dt-sc-one-fourth .dt-sc-tb-title { width: 40%; }
	.dt-sc-one-fourth .dt-sc-tb-title h5 { font-size: 26px; text-align:right; }

	.dt-sc-pr-tb-col.selected .dt-sc-tb-title:after , .dt-sc-pr-tb-col:hover .dt-sc-tb-title:after{ background: #e9e9e9; }

	.dt-sc-tb-content { list-style-type: none; margin: 0px auto; padding: 20px 0px; width: 70%; }
	.dt-sc-tb-content li { border-bottom: 1px solid #ddd; color: #878787; font-size: 14px; font-weight: normal; line-height: 28px; padding: 5px 0; }
	.dt-sc-tb-content li:last-child { border-bottom: none; }
	.dt-sc-tb-content li i { margin-right: 5px; }
	.dt-sc-tb-content li span { text-transform:uppercase; }

	.dt-sc-pr-tb-col  p { color:#878787; padding:30px; margin:0px; font-weight: normal; border-top: 1px solid #eaebed; border-bottom: 1px solid #eaebed; }
	.dt-sc-pr-tb-col  p span { font-size: 16px; font-weight: lighter; }
	.dt-sc-pr-tb-col:hover .dt-sc-tb-title h5, .dt-sc-pr-tb-col:hover .dt-sc-tb-content li, .dt-sc-pr-tb-col.selected .dt-sc-tb-content li, .dt-sc-pr-tb-col:hover .dt-sc-tb-content li.no:before,
	.dt-sc-pr-tb-col.selected .dt-sc-tb-header .price , .dt-sc-pr-tb-col .dt-sc-tb-title h5 { color:#fff; }

	.dt-sc-pr-tb-col.selected, .dt-sc-pr-tb-col:hover { z-index:10; box-shadow:0px 0px 15px rgba(0, 0, 0, 0.25); -moz-box-shadow:0px 0px 15px rgba(0, 0, 0, 0.25); -webkit-box-shadow:0px 0px 15px rgba(0, 0, 0, 0.25); }

	/*----*****---- << Tooltip >> ----*****----*/

	.dt-sc-tooltip-top, .dt-sc-tooltip-right, .dt-sc-tooltip-bottom, .dt-sc-tooltip-left { color:#333334; display:inline-block;	text-align:center; }
	.boxed-dt-sc-tooltip:hover { background:#333334; color:#ffffff; }

	/*----*****---- << Tooltip >> ----*****----*/

	#tiptip_holder { display:none; position:absolute; top:0; left 0; z-index:99999; }
	#tiptip_holder.tip_top { padding-bottom:5px; }
	#tiptip_holder.tip_bottom { padding-top:5px; }
	#tiptip_holder.tip_right { padding-left:5px; }
	#tiptip_holder.tip_left { padding-right:5px; }

	#tiptip_content { padding:8px 15px; font-size:12px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; behavior: url(PIE.htc); background: #323232; color:#fff; }
	#tiptip_arrow, #tiptip_arrow_inner { position:absolute; border-color:transparent; border-style:solid; border-width:6px; height:0; width:0; opacity:1; }
	#tiptip_holder.tip_top #tiptip_arrow_inner { margin-top:-7px; margin-left:-6px; }
	#tiptip_holder.tip_bottom #tiptip_arrow_inner { margin-top:-5px; margin-left:-6px; }
	#tiptip_holder.tip_right #tiptip_arrow_inner { margin-top:-6px; margin-left:-5px;  }
	#tiptip_holder.tip_left #tiptip_arrow_inner { margin-top:-6px; margin-left:-7px;}

	#tiptip_holder.tip_top #tiptip_arrow { border-top-color:#fff; border-top-color: #323232;  }
	#tiptip_holder.tip_bottom #tiptip_arrow { border-bottom-color:#fff; border-bottom-color: #323232; }
	#tiptip_holder.tip_right #tiptip_arrow { border-right-color:#fff; border-right-color: #323232; }
	#tiptip_holder.tip_left #tiptip_arrow { border-left-color:#fff; border-left-color: #323232; }

	/*----*****---- << Toggle & Accordion >> ----*****----*/

	.dt-sc-toggle-frame-set { float:left; width:100%; margin:0px; padding:0px; }

	.dt-sc-toggle-frame { padding-bottom: 10px; }
	.dt-sc-toggle-frame p.dt-sc-toggle-accordion { clear:both; margin:0px; padding:0px; }
	.dt-sc-toggle-frame p.dt-sc-toggle-accordion a{ display:block; padding:8px 15px 5px 48px; color:#323232; }
	.dt-sc-toggle-frame p.dt-sc-toggle-accordion:before{ top:5px; }

	.dt-sc-toggle-content { clear:both; display:none; padding-left:50px; }

	p.dt-sc-toggle-accordion { clear:both; position:relative; -webkit-transition:all 300ms linear; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear;
	transition:all 300ms linear; }
	p.dt-sc-toggle-accordion:before { font-family:FontAwesome; font-style:normal; font-weight:normal; text-decoration:inherit; font-size:18px; position:absolute; top:2px; left:0px; content:"\f067";width:34px; height:34px;
	line-height:36px; text-align:center; border-radius:34px; background:#000; color:#fff; }
	p.dt-sc-toggle-accordion.active:before { content:"\f068"; transform: rotate(90deg); -moz-transform: rotate(90deg); -o-transform: rotate(90deg); -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); }

	/*----*****---- << Services >> ----*****----*/

	.dt-ipad-feature-bg { position:relative; width:100%; height:100%; }
	.dt-ipad-feature-bg:before { background:url(../images/MiniPadMini_White.png) no-repeat; background-size: 100%; top: 5px; content: ""; display: inline-block; font-size: 50px; height: 100%; left: 0; margin: 0 auto;
	position: absolute; right: 0; width: 100%; padding-top: 100px; z-index: 1; }
	.dt-ipad-feature-bg img { margin-left: 0px; margin-top: 68px; }
	.dt-sc-ico-content { float:left; display:inline-block; position:relative;}
	.dt-sc-ico-content p {  font-weight: lighter; margin: 22px 0px 0px; line-height: 24px; }

	.dt-sc-ico-content.type1 { text-align: center; }

	.dt-sc-ico-content.type1 .fa { box-shadow: 0 0 0 1px rgba(0, 0, 0, 1) inset; width:100px; height:100px; line-height:100px; color:#000; font-size:30px; position:relative; }
	.dt-sc-ico-content.type1:hover .fa  { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1);  }
	.dt-sc-ico-content.type1 .fa:after { border-color: rgba(237, 237, 237, 1) rgba(237, 237, 237, 1) #000 #000; border-style: none solid solid none; border-width: 0 11px 11px 0; content: ""; position: absolute; right: 0px; top: 0px; }

	.dt-sc-ico-content.type1 p { border-top:1px solid #d9d9d9; padding-top:31px; position:relative; margin:0px; }
	.dt-sc-ico-content.type1 p:before {  content: "\f0d7"; position: absolute; display:inline-block;  font-family: 'FontAwesome'; right:0; left:0; top: -10px; color:#d9d9d9; font-size:24px; }

	::i-block-chrome, .dt-sc-ico-content.type1 p:before { margin-left:1px; }

	.dt-sc-ico-content.type1 h3 { padding: 18px 0px 21px; position:relative; line-height:50px; width:100%; }
	.dt-sc-ico-content.type1 h3 a { color:#323232;}
	.dt-sc-ico-content.type1 h3:after { content: "\f106"; position: absolute; display:inline-block;  font-family: 'FontAwesome'; right:0; left:0; bottom:-21px; color:#d9d9d9;  }

	.dt-sc-ico-content.type2 { text-align:left; padding-left:45px;  position: relative; width: 90%; }
	.dt-sc-ico-content.type2 i { -webkit-box-shadow: 5px 5px 0px 0px rgba(255,255,255,1); -moz-box-shadow: 5px 5px 0px 0px rgba(255,255,255,1); box-shadow: 5px 5px 0px 0px rgba(255,255,255,1); font-size:20px; float:left;
	position: absolute; top:6px; left: 0; width: 40px; height:40px; line-height: 40px; text-align:center;   position: absolute; -moz-transform: rotate(-45deg);  -ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);-o-transform: rotate(-45deg); transform: rotate(-45deg); z-index:1; }
	.dt-sc-ico-content.type2 i:before { position: absolute; width: 40px; height:40px; -moz-transform: rotate(45deg);  -ms-transform: rotate(45deg);  -webkit-transform: rotate(45deg);  -o-transform: rotate(45deg);
	transform: rotate(45deg); left: 0; }
	.dt-sc-ico-content.type2 h3 { line-height: 56px;  position: relative; background: #f1f1f1; font-weight: normal; margin-bottom: 24px; z-index: 0; height: 56px; text-align: center; width: 75%; font-size:20px; }
	.dt-sc-ico-content.type2 h3:before { border-color: #f1f1f1 #f1f1f1; border-image: none; border-style: solid; border-width: 13px; content: ""; display: block; height: 30px; left: -18px; position: absolute; top: 0; width: 0; }
	.dt-sc-ico-content.type2 h3:after { display: block; content: ""; height: 0; width: 0; border-image: none; position: absolute; right: -28px; top:0; border-top: 28px solid transparent;
    border-left: 28px solid #f1f1f1; border-bottom: 28px solid transparent;  }
	.dt-sc-ico-content.type2 p { margin-bottom:0px; width: 85%; }

	.dt-sc-ico-content.type3 { width: 90%; }
	.dt-sc-ico-content.type3 img { margin: 38px 30px 38px 0; float:left; width: 60px; }
	.dt-sc-ico-content.type3 h6 { color:#323232; line-height: 60px; font-weight:bold; }
	.dt-sc-ico-content.type3  p { padding-left: 90px; margin: 0; }

	/*----*****---- << Social Icons >> ----*****----*/

	.dt-sc-social-icons { display:inline-block; line-height:0px; text-align:center; margin-top: 5px; padding:0px; }
	.dt-sc-social-icons ul { margin-bottom:12px;}
	.dt-sc-social-icons li { display:inline-block; margin:0px; padding:0px; text-align:center; margin-bottom:-1px; }
	.dt-sc-social-icons li a { height:45px; display:block; text-align:center; color:#878787; line-height:45px; margin:0 16px; font-size:18px;}
	.dt-sc-social-icons li a.first { margin:0px 16px 0px 0px; }

	.boxed .dt-sc-social-icons li a { margin: 0 16px 0 6px; }

	/*----*****---- << Portfolio >> ----*****----*/

	.dt-sc-sorting-container { float:left; clear:both; width:100%; margin:0px; padding:0px; border-left:0px; line-height:normal; height:40px; display:inline-table; text-align:center; font-style:italic; }
	.dt-sc-sorting-container a { border: 1px solid #ededed; color: #878787; cursor: pointer; font-size: 14px; font-weight: normal; line-height: normal; margin-right:5px; padding: 15px 18px; position: relative;
	transition: all 0.3s ease 0s;  z-index: 1; outline:none; display:inline-block; border-radius: 3px; }
	.dt-sc-sorting-container a:last-child { border-left:1px solid #ededed; }

	/*----*****---- << Testimonial >> ----*****----*/

	.testimonial-image, .testimonial-image div { margin: 0 auto; transform-origin: 26% 60%; -webkit-transform-origin: 26% 60%; -moz-transform-origin: 26% 60%; -o-transform-origin: 26% 60%; -ms-transform-origin: 26% 60%;
	overflow: hidden; width: 100px; height: 100px; padding-top: 0; border: 3px solid; }
	.testimonial-image .testimonial-image-shape img {  background: #f1f1f1;	width: 150px;	height: 150px;}
	.testimonial-image {  transform: rotate(45deg); -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); -ms-transform: rotate(45deg); }
	.testimonial-image .testimonial-image-shape { width: 150px;height: 270px; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg); margin: -24px 0 0px 48px; }

	ul#testimonial-list li { padding-bottom: 20px; display:block; float:left;  }
	.carousel-wrap { float:left; clear:both; margin:0px; padding:0px; width:100%; position:relative; display:block; }

	.dt-sc-testimonial { overflow:visible; position:relative; }
	.dt-sc-testimonial blockquote { width:80%; padding:0; float:none; margin: 50px auto 20px; }
	.dt-sc-testimonial .author-detail { width:100%; text-align:center; display:inline-block; }
	.dt-sc-testimonial .author-detail cite {font-size: 20px; font-style:normal; text-transform:uppercase; display:inline-block; }
	.dt-sc-testimonial .author-detail cite:before { content:"="; }
	.dt-sc-testimonial .author-detail cite:after { content:"="; }
	.dt-sc-testimonial .author-detail span { width: 100%; float:left; }
	.dt-sc-testimonial .author-detail span:before { content:"("; }
	.dt-sc-testimonial .author-detail span:after  { content:")"; }

	.dt-sc-testimonial .dt-sc-testimonial-arrows { position:absolute; right:0; left:0; top: 38%; width:100%; opacity:0; }
	.dt-sc-testimonial .dt-sc-testimonial-arrows a { color:#fff; font-size: 50px; }
	.dt-sc-testimonial .dt-sc-testimonial-arrows a.prev { float:left; }
	.dt-sc-testimonial .dt-sc-testimonial-arrows a.next { float: right; }

	.parallax:hover .dt-sc-testimonial .dt-sc-testimonial-arrows { opacity: 1; }

	/*----*****---- << Icon Content >> ----*****----*/

	ul.dt-sc-ico-content { float:right; width:100%; margin-top:4px; line-height:70px; }
	ul.dt-sc-ico-content li { float:left; width:100%; margin-top:20px; padding-bottom:0px; color:#323232; font-size:16px; font-weight:normal; }

	ul.dt-sc-ico-content.alignleft li{ float:right; text-align:right; padding-right: 8px;}
	ul.dt-sc-ico-content.alignright li{ float:left; text-align:left ;padding-left: 8px;}

	ul.dt-sc-ico-content i { width:70px; height:70px; line-height:70px; box-shadow: 0 0 0 1px #ededed inset; color:#323232; font-size:28px; text-align:center; clear:both; position:relative; }

	ul.dt-sc-ico-content.alignleft li i:after { content: ""; position:absolute; width: 0; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; right: -8px; top: 27px; bottom: 0; left:auto; opacity:0;
	z-index:99;}
	ul.dt-sc-ico-content.alignright li i:after { content: ""; position:absolute; width: 0; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; left: -8px; top: 27px; bottom: 0; right:auto; opacity:0;
	z-index:99; }

	ul.dt-sc-ico-content.alignleft li:hover i:after , ul.dt-sc-ico-content.alignright li:hover i:after , ul.dt-sc-ico-content.alignleft li.active i:after , ul.dt-sc-ico-content.alignright li.active i:after { opacity:1; }

	ul.dt-sc-ico-content.alignleft i { float:right; margin-left:20px;}
	ul.dt-sc-ico-content.alignright i { float:left; margin-right:20px;}

	/*----*****---- << Contact-Info >> ----*****----*/

	.dt-sc-contact-form { width:50%; float:left; background: #fff; }

	.dt-sc-contact-form .contact-form { width: 100%; float: left; background:url(../images/contact-form-bg.png) no-repeat; background-position: center right;background-size: 90%; padding: 120px 0px 50px; position:relative; }
	.dt-sc-contact-form .contact-form p { background: #fff; overflow:hidden; margin-bottom: 20px; }
	.dt-sc-contact-form .contact-form p input , .dt-sc-contact-form .contact-form p textarea { border:none; width: 75%; float:left; padding: 12px 0px 12px 12px; margin:0; }
	.dt-sc-contact-form .contact-form p.submit:hover input , #comment-form p.submit:hover input { color: #fff; }
	.dt-sc-contact-form .contact-form p { float:left; width: 100%; border: 1px solid #ddd; }
	.dt-sc-contact-form .contact-form p textarea { height: 80px; }
	.dt-sc-contact-form .contact-form p.dt-sc-button.submit , #comment-form p.dt-sc-button.submit { border:none; width:auto; border-radius:0; padding:0; margin:0; position:relative; }
	.dt-sc-contact-form .contact-form p.submit input {  padding: 14px 25px; font-family: 'Merriweather', serif; }
	.dt-sc-contact-form .contact-form p.submit i , #comment-form p.submit i { padding: 17px 20px 17px 40px; float: right;  }

	.dt-sc-contact-form .contact-form #ajax_contact_msg .error-msg { width: 100%; float: none; display: inline-block; text-align: center; color: red; position:absolute; top: 0; }

	ul.dt-sc-contact-info { text-align:center; float:none; width: 100%; padding: 30px 0px; display:inline-block; background: #f6f6f6; margin: 0; }
	ul.dt-sc-contact-info  li { float:none; margin:0px auto; display:inline-block; padding:0; border-right: 2px solid #ddd; padding:0px 10px; }
	ul.dt-sc-contact-info  li:last-child { border-right: none; }
	ul.dt-sc-contact-info  li i { margin-right: 10px; }

	@-moz-document url-prefix(){ 	.dt-sc-contact-form .contact-form p.submit input {  padding: 13px 25px;  } }

	.boxed .dt-sc-contact-form .contact-form { padding: 100px 0px 50px; }

	.dt-sc-contact-form .contact-form p.submit:after { content: ""; display: block; height: 0; position: absolute; right: 64px; top: 0; width: 23px; height: 54px; background:#fff; transform: skew(-25deg);
	-moz-transform: skew(-25deg);  -ms-transform: skew(-25deg);  -webkit-transform: skew(-25deg);  -o-transform: skew(-25deg); }

	.dt-sc-contact-form .contact-form p span { width: 18%; margin-right: 4%; float:right; text-align: right; color: #6f6f6f; padding: 10px 0; position:relative; }
	.dt-sc-contact-form .contact-form p span:before { background: #dddddd; content: ""; height: 50px; position: absolute; left: 0; top: 0; transform: skew(-20deg); -moz-transform: skew(-20deg);
	-ms-transform: skew(-20deg);  -webkit-transform: skew(-20deg);  -o-transform: skew(-20deg); width: 1px; }

	.dt-sc-contact-form .contact-form p.textarea-field textarea  { width: 70%; }
	.dt-sc-contact-form .contact-form p.textarea-field span { width: 23%; }
	.dt-sc-contact-form .contact-form p.textarea-field span:before  { height: 200px; }

	.boxed .dt-sc-contact-form .contact-form p.textarea-field textarea { width: 65%; }
	.boxed .dt-sc-contact-form .contact-form p.textarea-field span { width: 28%; }

	.dt-sc-contact-form .contact-form p span i { margin-left: 10px; }

	.dt-sc-contact-form .contact-form form , .dt-sc-contact-form .contact-info p , .dt-sc-contact-form .dt-sc-contact-info  { width: 66%; float:right; margin-right: 10px; }
	.dt-sc-contact-form .dt-sc-contact-info p { margin-bottom: 40px; }
	.dt-sc-contact-form .dt-sc-contact-info p:last-child { margin-bottom: 0; }
	.dt-sc-contact-form .dt-sc-contact-info p span { font-weight: bold; font-style:italic; }
	.dt-sc-contact-info a { color:#878787; }

	.boxed .dt-sc-contact-form .dt-sc-contact-info , .boxed .dt-sc-contact-form .contact-form form { width: 80%; }
	.boxed .dt-sc-contact-form .contact-form { background-size: 100%;  background-position:  center right; }

	/*----*****---- << Services >> ----*****----*/

	.dt-sc-services { width:100%; float:left; }
	.dt-sc-services .fa { width:92px; height:92px; text-align:center; line-height:92px; border: 2px solid; border-radius:50%; font-size:30px; float:left; margin-right: 18px; color: #353537 }
	.dt-sc-services:hover .fa { font-size: 36px; }
	.dt-sc-services  h2, .dt-sc-services  p { float:left; font-weight:normal; margin: 10px 0px 0px; color: #353537; }
	.dt-sc-services  p { font-size: 16px;  }

	.dt-sc-services .special:after { top: -5px; left: -5px; padding: 3px; z-index: 1; opacity: 0; pointer-events: none; position: absolute; width: 100px; height: 100px; border-radius: 50%;  content:'';
	-webkit-box-sizing: content-box; -moz-box-sizing: content-box;  box-sizing: content-box; -ms-box-sizing: content-box; -o-box-sizing: content-box; -webkit-transform: rotate(-115deg); -moz-transform: rotate(-115deg);
	-ms-transform: rotate(-115deg); transform: rotate(-115deg); }

	@media screen\0 { .dt-sc-services .special:after { display: none; }	}

	.dt-sc-services .special:before { font-size: 30px; line-height: 90px; font-style: normal; font-weight: normal; font-variant: normal; display:none; -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s; transition: transform 0.2s, opacity 0.2s; speak: none; text-transform: none;  display: block; -webkit-font-smoothing: antialiased; }

	.dt-sc-services:hover .special:after { opacity: 1; -webkit-transform: rotate(-230deg); -moz-transform: rotate(-230deg); -ms-transform: rotate(-230deg); transform: rotate(-230deg); -o-transform: rotate(-230deg);}
	.dt-sc-services:hover .special:before  { display: block; }

	/*----*****---- << Video Slider >> ----*****----*/

	.dt-sc-video-container , .dt-sc-video-container video { width:100%; height:auto; }

	/*----*****---- << Horizontal Tabs >> ----*****----*/

	.tabs-container { float:left; width:100%; padding:0px; clear:both; }
	ul.tabs-frame { float:left; margin:0px; padding:0px; width:100%; border: 1px solid #dddddd; background: #f1f1f1; }
	ul.tabs-frame li { padding:0px;}
	ul.tabs-frame li a { background: #f1f1f1; float:left; margin:0px; padding:0px; text-align:center; font-size:16px; line-height:53px; width:100%; color:#323232; font-style:italic; position:relative; }
	ul.tabs-frame li a.current { position:relative; background: #fff; }

	ul.tabs-frame li a.current:before { border-top: 0px solid #fff; border-left: 24px solid #fff; }
	ul.tabs-frame li a.current:after { height: 51px;  }

	ul.tabs-frame li a:before { display: block; content: ""; height: 0; width: 0; border-image: none; position: absolute; right: -24px; top: 0; border-top: 0px solid #f1f1f1; border-left: 24px solid #f1f1f1;
	border-bottom: 54px solid transparent; z-index: 1; }
	ul.tabs-frame li a:after { content: ""; display: block; position: absolute; right: -13px; top: 0; width: 1px; height: 54px; background: #dddddd; transform: skew(-26deg); -webkit-transform: skew(-26deg);
	-o-transform: skew(-26deg); -moz-transform: skew(-26deg); -ms-transform: skew(-26deg); z-index: 9; }

	ul.tabs-frame li.last a:after , ul.tabs-frame li.last a:before { display: none; }

	.tabs-frame-content {  float:left; clear:both; margin:0px; padding: 50px 29px; width: 95%; }
	.tabs-frame-content img { margin:0; float: left; }
	.tabs-frame-content .dt-sc-button  i { margin-right:10px;}
	.tabs-frame-content h5 { color: #353537; }

	.dt-sc-one-half.column .tabs-frame-content { padding: 30px 15px; }
	.dt-sc-two-third.column .tabs-frame-content { padding: 50px 20px; }

	.check li:before { content:"\f105"; padding-right:11px; float:left; margin-top:1px; font-family:'FontAwesome';}
	.check li { display:inline-block; width:100%; font-size:16px;  }

	::i-block-chrome, .tabs-frame-content { width:94.9%; }

	/*----*****---- << Our Team >> ----*****----*/

	.team-tab ul.tabs-frame li a.current , .team-tab ul.tabs-frame li a { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; background:none; border:none; padding:0; line-height: 24px; width: 100%; height:100%;
	 margin: 0px auto; float: none; display: inline-block; position:relative; }

	.team-tab ul.tabs-frame li a.current , .team-tab ul.tabs-frame li a  , .team-tab ul.tabs-frame li a:hover { border-bottom:none; }

	.tabs-container.team-tab .tabs-frame-content { margin-top: 110px; background:#f1f1f1; width: 100%; padding:0; }
	.tabs-container.team-tab .tabs-frame-content img { float:left; }

	.tabs-container.team-tab  ul.tabs-frame { width:1170px; text-align:center; float:none; margin:0px auto; border: none; }
	.tabs-container.team-tab  ul.tabs-frame li { position:relative; }

	.tabs-container.team-tab ul.tabs-frame .square , .tabs-container.team-tab ul.tabs-frame a.current .square { position:relative; z-index:9999; width: 150px; height: 146px; margin:0px auto; padding-left: 1px;
	-ms-transform: rotate(-45deg);  -webkit-transform: rotate(-45deg);  transform: rotate(-45deg);  -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg);  overflow: hidden; }
	.tabs-container.team-tab ul.tabs-frame .pic { width: 250px; height: 170px; margin: -30px;  -ms-transform: rotate(45deg);  -webkit-transform: rotate(45deg);  transform: rotate(45deg); -o-transform: rotate(45deg);
	-moz-transform: rotate(45deg); }

	.tabs-container.team-tab ul.tabs-frame a .square { -webkit-box-shadow: -5px 5px 0px 0px #fff; -moz-box-shadow: -5px 5px 0px 0px #fff; box-shadow: -5px 5px 0px 0px #fff;}

	.tabs-container.team-tab  ul.tabs-frame li a:before , .tabs-container.team-tab  ul.tabs-frame li a:after { display: none; }

	.tabs-container.team-tab  ul.tabs-frame li .image-overlay { position:absolute;  bottom: -88px; left: 0; right: 0; display:none; }
	.tabs-container.team-tab  ul.tabs-frame li a.current .image-overlay { display: block; }

	.tabs-container.team-tab  ul.tabs-frame li i { color: #000; }

	.tabs-container.team-tab  ul.tabs-frame li a .pic img { background: #f1f1f1; }

	.tabs-container.team-tab .tabs-frame-content { position:relative; }
	.tabs-container.team-tab .tabs-frame-content h5 { color: #878787; }

	.team-tab ul.tabs-frame li a:after { border: none; background: none; }
	.team-tab ul.tabs-frame li a.current:after { display: block; content: ""; height: 0; width: 0; border-image: none; position: absolute;right: 0; left:0; }

	::i-block-chrome, .tabs-container.team-tab ul.tabs-frame { margin-top: -30px; }
	::i-block-chrome, .tabs-container.team-tab  ul.tabs-frame li { padding-top:30px; }
	::i-block-chrome, .team-tab ul.tabs-frame li a { padding-bottom: 30px; }

	.tabs-container.team-tab  ul.tabs-frame li .image-overlay h5 { font-size: 16px; font-weight: normal; color:#323232; }
	.tabs-container.team-tab  ul.tabs-frame li .image-overlay h6 { font-size: 14px; color:#878787; padding-bottom: 5px; }

	.tabs-container.team-tab .tabs-frame-content .team-details .team-details-info { overflow:hidden; float:left; width: 60%; }

	.tabs-container.team-tab .tabs-frame-content .team-details .team-details-info .alignright , .tabs-container.team-tab .tabs-frame-content .team-details .team-details-info .alignleft { padding: 30px 0;
	-moz-transform:skew(-45deg); -ms-transform:skew(-45deg); -o-transform:skew(-45deg); -webkit-transform:skew(-45deg); margin-left: -22%; overflow:hidden; }

	.tabs-container.team-tab .tabs-frame-content .team-details .team-details-info .dt-sc-five-sixth  { transform:skew(45deg);  -moz-transform:skew(45deg); -ms-transform:skew(45deg); -o-transform:skew(45deg);
	-webkit-transform:skew(45deg); margin-left: 0%; }

	.tabs-frame-content  .team-details .column.no-space.dt-sc-one-fourth { position:absolute;  bottom:0; right: 15%; position: absolute; }

	.boxed .tabs-container.team-tab .tabs-frame-content .team-details .team-details-info { width: 75%; }
	.boxed .tabs-frame-content  .team-details .column.no-space.dt-sc-one-fourth { right: 5%;  }

	.tabs-container.team-tab .tabs-frame-content .team-details img.alignleft { float: left; width: 380px; }

	.boxed .tabs-container.team-tab .tabs-frame-content .team-details .team-details-info .dt-sc-one-column.column { margin-left: -160px; }
	.boxed .tabs-container.team-tab .tabs-frame-content p { margin-top: 12px; }

	.boxed .tabs-container.team-tab .tabs-frame-content h4, .boxed .tabs-container.team-tab .tabs-frame-content h5, .boxed .tabs-container.team-tab .tabs-frame-content p,
	.boxed .tabs-container.team-tab .tabs-frame-content .dt-sc-social-icons { width: 72%; }

	.tabs-container.team-tab .tabs-frame-content h4 ,.tabs-container.team-tab .tabs-frame-content h5 { margin-bottom: 10px; color: #fff; }
	.tabs-container.team-tab .tabs-frame-content h4 ,.tabs-container.team-tab .tabs-frame-content h5, .tabs-container.team-tab .tabs-frame-content p  , .tabs-container.team-tab .tabs-frame-content .dt-sc-social-icons {  width:60%;
	float:right; transform:skew(0deg);  -moz-transform:skew(0deg); -ms-transform:skew(0deg); -o-transform:skew(0deg); -webkit-transform:skew(0deg); }
	.tabs-container.team-tab .tabs-frame-content p { margin-top: 22px; }

	.tabs-container.team-tab .tabs-frame-content .dt-sc-social-icons ul { float:right; }
	.tabs-container.team-tab .tabs-frame-content .dt-sc-social-icons li { float:left; margin-top:2px; }
	.tabs-container.team-tab .tabs-frame-content .dt-sc-social-icons li a { margin: 0px 3px 0px 0px; }
	.tabs-container.team-tab .tabs-frame-content .dt-sc-social-icons li a i { border: 1px solid #fff; width: 45px; height: 45px; text-align: center; float: none; display: inline-block; line-height: 45px; font-size: 16px; color: #fff; }

	.tabs-container.team-tab .tabs-frame-content .alignleft .dt-sc-social-icons ul { float:left; }
