.bg-white{
    background-color: #fff;
}

.font-black{
    color:black;
}

.btn-red {
    background-color: #d71a21 ;
    border-color: #d71a21 ;
    color: #fff;
}

.img-responsive{
    width: 100%;
    height: auto;
}

.font-white-light{
    color: #ffff;
    font-weight: 100;
}

.mb-1rem{
    margin-bottom: 1rem !important;
}

.ts-border-radius__xxl {
    border-radius: 1.25rem;
    overflow: hidden;
}

li::marker {
    text-align: left;
  }

  .ml-10{
      margin-left: 12px;
  }

  .mr-10{
    margin-right: 12px;
}

.error{
    color : #d71a21;
}